<footer class="bg-neutral-200 p-4 flex justify-center items-center flex-col space-y-2">
    <div class="p-2 space-x-2 text-xl">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <p> &copy;Nestaway Private Limited</p>
    <div class="space-x-2 ">
        <a href="/privacy" class="hover:underline">privacy</a>
        <a href="/terms" class="hover:underline">terms</a>
    </div>
    
</footer>